<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <section class="hero is-black is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{title}}
          </h1>
          <!--<h2 class="subtitle">
            A handpicked collection
          </h2>-->
        </div>
      </div>
    </section>
    <section class="hero is-white">
      <div class="hero-body">
        <div class="container">
          {{{body}}}
        </div> 
      </div>
    </section>
  </body>
</html>
