<div class="columns is-multiline is-gapless">
  {{#each array}}
    <div class="column is-half-tablet is-one-third-desktop">
      <a class="columns color-container is-mobile" href="/details?id={{_id}}">
        {{#each colors}}
          <div class="column color{{#if @first}} is-one-quarter{{/if}}{{#if @last}} is-one-third{{/if}}" style="background-color: {{this}}"></div>
        {{/each}}
      </a>
    </div>
  {{/each}}
</div>
      
      
      
      
      
      
      
      
      
          <!--  <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #A8A7A7"></div>
                <div class="column color" style="background-color: #CC527A"></div>
                <div class="column color" style="background-color: #E8175D"></div>
                <div class="column color" style="background-color: #474747"></div>
                <div class="column color" style="background-color: #363636"></div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #F8B195"></div>
                <div class="column color" style="background-color: #F67280"></div>
                <div class="column color" style="background-color: #C06C84"></div>
                <div class="column color" style="background-color: #6C5B7B"></div>
                <div class="column color" style="background-color: #355C7D"></div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #99B898"></div>
                <div class="column color" style="background-color: #FECEAB"></div>
                <div class="column color" style="background-color: #FF847C"></div>
                <div class="column color" style="background-color: #E84A5F"></div>
                <div class="column color" style="background-color: #2A363B"></div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #A8E6CE"></div>
                <div class="column color" style="background-color: #DCEDC2"></div>
                <div class="column color" style="background-color: #FFD3B5"></div>
                <div class="column color" style="background-color: #FFAAA6"></div>
                <div class="column color" style="background-color: #FF8C94"></div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #A7226E"></div>
                <div class="column color" style="background-color: #EC2049"></div>
                <div class="column color" style="background-color: #F26B38"></div>
                <div class="column color" style="background-color: #F7DB4F"></div>
                <div class="column color" style="background-color: #2F9599"></div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #E1F5C4"></div>
                <div class="column color" style="background-color: #EDE574"></div>
                <div class="column color" style="background-color: #F9D423"></div>
                <div class="column color" style="background-color: #FC913A"></div>
                <div class="column color" style="background-color: #FF4E50"></div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="columns color-container is-mobile">
                <div class="column color" style="background-color: #E5FCC2"></div>
                <div class="column color" style="background-color: #9DE0AD"></div>
                <div class="column color" style="background-color: #45ADA8"></div>
                <div class="column color" style="background-color: #547980"></div>
                <div class="column color" style="background-color: #594F4F"></div>
              </div>
            </div>
          </div>
-->